body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 16px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.recipe {
    width: 200px;
    padding: 10px;
    text-align: left;
}

.recipe img {
    max-width: 100%;
    height: auto;
}

a {
    color: #FF5733;
}

h1 {
    color: #008000;
}

nav {
    background-color: #008080;
}

footer {
    font-size: 20px;
    background-color: #FFFF00;
}

.recipe-table tr:nth-child(even) {
    background-color: #f0f0f0;
}
